@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: white;
  background: url(/assets/images/pattern-bg.svg) no-repeat center right 100px, url(/assets/images/pattern-curve.svg) no-repeat bottom left;
}

.testimonials {
  position: relative;
  order: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  height: auto;
}
.testimonials__content {
  display: flex;
  order: 1;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 1;
  width: 100%;
  height: auto;
  padding: 4em 0;
  top: 50%;
  left: 0;
  background: url(/assets/images/pattern-quotes.svg) no-repeat 5em top;
}
.testimonials__content__p {
  margin-bottom: 1.5em;
  font-size: 28px;
  font-weight: 300;
  line-height: 42px;
  color: #202046;
}
.testimonials__content__author {
  display: flex;
}
.testimonials__content__author__h4 {
  display: block;
  font-size: 16px;
  font-weight: 700;
  margin-right: 0.3em;
}
.testimonials__content__author__span {
  font-size: 16px;
  font-weight: 500;
  color: #babacf;
}
.testimonials__img {
  order: 1;
  position: relative;
  width: 100%;
  height: auto;
  z-index: 10;
}
.testimonials__img img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  box-shadow: -4px 24px 21px 2px rgba(0, 0, 0, 0.04);
}

.navigation_testimonials {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100px;
  z-index: 20;
  bottom: -25px;
  left: 70px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.04);
}
.navigation_testimonials li {
  padding: 1em 1.3em;
}
.navigation_testimonials li img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.attribution {
  position: absolute;
  padding: 8px 0;
  bottom: 0;
  margin: auto;
  font-size: 16px;
  font-weight: 300;
  color: #babacf;
}
.attribution a {
  color: #202046;
  text-decoration: none;
}
.attribution a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    font-family: "Inter", sans-serif;
    background-color: white;
    background: url(/assets/images/pattern-curve.svg) no-repeat bottom left;
    background-size: contain;
  }

  .testimonials {
    position: relative;
    flex-direction: column;
    height: 100%;
  }
  .testimonials__content {
    order: 1;
    justify-content: flex-start;
    padding: 3em 2em;
    height: 100%;
    background: url(/assets/images/pattern-quotes.svg) no-repeat center top;
    background-size: 80px;
  }
  .testimonials__content__p {
    margin-bottom: 1.5em;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #202046;
    text-align: center;
  }
  .testimonials__content__author {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
  }
  .testimonials__content__author__h4 {
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0.2em;
  }
  .testimonials__content__author__span {
    font-size: 16px;
    font-weight: 500;
    color: #babacf;
  }
  .testimonials__img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
    order: 0;
    background: url(/assets/images/pattern-bg.svg) no-repeat center right;
    background-size: contain;
  }

  .navigation_testimonials {
    left: 0;
    right: 0;
    bottom: 10px;
    margin: 0 auto;
  }

  .attribution {
    position: relative;
    padding: 8px;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
